<div class="kayit-giris-headeri">

 
  

  
        <!--iki hr arası veya yazılışı-->
<h2><i class="fas fa-user mr-1"></i>Kayıt Ol</h2>

        <form action="kaydol.php" method="POST" class="giris" style="text-align:center; padding:15px;">
            <div class="modal-content" style=" width: 80%;align-items: center; padding: 2%; margin: auto;">

                <!--Modal cascading tabs-->
                <div class="modal-c-tabs" style="width:100%;">


                    <!-- Tab panels -->
                    <div class="tab-content">
                        <!--Panel 7-->
                        <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                            <!--Body-->
                            <div class="modal-body mb-1">
                                <div class="md-form form-sm" style=" display: flex; width: 90%; justify-content: space-between; margin: 1%;">
                                    <label for="form22">Ad</label>
                                    <input style="width: 70%;" type="text" id="form22" class="form-control">

                                </div>
                                <div class="md-form form-sm" style=" display: flex; width: 90%; justify-content: space-between; margin: 1%;">
                                    <label for="form22">Soyad</label>
                                    <input style="width: 70%;" type="text" id="form22" class="form-control">

                                </div>
                                <div class="md-form form-sm" style=" display: flex; width: 90%; justify-content: space-between; margin: 1%;">
                                    <label for="form22">Email</label>
                                    <input style="width: 70%;" type="text" id="form22" class="form-control">

                                </div>
                                <div class="md-form form-sm" style=" display: flex; width: 90%; justify-content: space-between; margin: 1%;">
                                    <label for="form22">Şifre</label>
                                    <input style="width: 70%;" type="text" id="form22" class="form-control">

                                </div>
                                <div class="md-form form-sm" style=" display: flex; width: 90%; justify-content: space-between; margin: 1%;">
                                    <label for="form22">Şifre Onay</label>
                                    <input style="width: 70%;" type="text" id="form22" class="form-control">

                                </div>

                                <nav style="font-size:12px;" id="cinsiyet">
                                    <input type="radio" name="kayit-cins" id="" style="width:15px !important; ">Kadın
                                    <input type="radio" name="kayit-cins" id="" style="width:15px !important; margin-left:40px; ">Erkek
                                </nav>
                                <div class="text-center mt-2">
                                    <button class="btn btn-info">Kayıt Ol <i class="fas fa-sign-in-alt ml-1"></i></button>
                                </div>
                            </div>


                        </div>
                        <sub style="font-size: 12px;">Zaten bir hesabın var mı? <a href="girisyap.html">Giriş Yap</a></sub>

                    </div>

                </div>        <i style="font-size: 10px;">	Bianlasam.com'a üye olarak Kullanıcı Sözleşmesi'ni kabul etmiş oluyorsunuz.</i>

            </div>



        </form>


</div>