/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    width: 100%;
    text-align: center;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


ul  {
    list-style:none;
    list-style-type:none;
    text-decoration: none;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
main {
    text-align: center;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {  position: relative;
  min-height: 100%;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */


body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.banner-bg {
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 60px;
    box-shadow: 0 5px 10px -6px gray;
}

.banner {
    z-index: 2;
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    margin: 0;
}

.logo {
    float: left;
    width: 150px;
    margin: 9px 20px;
}
.footer-bg {
    margin-top: 200px;
    height: 50px;
    background-color: #000000;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 0;
    margin-bottom: 0;
}

.footer {
    position: absolute;
    z-index: 1;
    height: 50px;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 0;
}

/*KAYITGİRİŞ*/
/*Kayit ol giriş yap butonu olarak değişebilir /isim değiş*/
.kayitolgirisyap {
    width: 30%;
    padding: 0;
    text-align: right;
    margin: 15px 4% auto auto;
}

    .kayitolgirisyap span a {
        padding: 1px;
        border-style: none;
    }

    .kayitolgirisyap a {
        text-decoration: none;
        margin: 0.4%;
        padding: 1% 5%;
        border: 2px #212551 solid;
        color: #212551;
        font-style: italic;
        font: Verdana, Geneva, sans-serif;
        border-radius: 20px;
    }

        .kayitolgirisyap a:hover {
            background-color: #212551;
            color: white;
        }

    .kayitolgirisyap span a:hover {
        color: #212551;
        background-color: white;
        text-decoration: underline;
    }
/*KAYIT GİRİŞ SAYFALARI*/


.kayit-giris-headeri {
    background-image: url("image/kayitgiris_bg.png");
    background-repeat: no-repeat;
    padding: 60px 0px;
    height: 530px;
}

    .kayit-giris-headeri span {
        font-family: Segoe Print;
        color: #09477C;
        margin-left: 50px;
        float: left;
        font-size: 4.5rem;
    }

.kayit-giris {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 10% 5% auto auto;
}

    .kayit-giris img {
        width: 290px;
        height: 40px;
        margin: 10px 30px;
    }

    .kayit-giris hr {
        margin-top: 12px;
        width: 120px;
        height: 0px;
    }

    .kayit-giris input {
        width: 300px;
        height: 30px;
        color: #9A9A9A;
        background-color: #F6F6F6;
        border-color: #9A9A9A;
        border-style: solid;
        border-width: 0.5px;
        margin: 10px;
        padding-left: 10px;
    }

        .kayit-giris input:focus {
            color: black;
        }

    .kayit-giris button {
        width: 310px;
        color: white;
        background: #E19F49;
        border: none;
        border-radius: 20px;
        height: 40px;
        margin: 10px;
    }
/*KAYIT GİRİŞ SAYFALARI SON*/

/*ANASAYFA*/

#header-bg {
    margin-left:-10%;

    background-image: url("/image/header.png");
    background-position:2% 2%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 600px;
    z-index: -1;
}

.header {
    width: 100%;
    height: 600px;
}

    .header span {
        float: right;
        width: 500px;
        line-height: 2;
        font-family: Sitka Display;
        font-size: 3em;
        margin-right: 5%;
        margin-bottom: 5rem;
        margin-top: 10%;
    }

.dersal-ver {
    margin-left: 20%;
    margin-right: 5%;
    float: right;
}


    .dersal-ver button {
        margin:8%;
        background-color: #f2f7ff;
        color: #769FCD;
        font-size: 1em;
        border-radius: 15px;
        border: 0.5px solid #769FCD;
        width: 200px;
        height: 40px;
    }

        .dersal-ver button : hover {
            background-color: #D6E6F2;
            color: #769FCD;
            transition: 0.5s;
            box-shadow: 1px 1px 5px 2px #cbf1ff;
        }

#orta_yazi {
    font-size: 2rem;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    margin: 200px auto 100px auto;
    text-align: center;
}

.arama input {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size: 20px;
    border: none;
    color: #B9B9B9;
    padding-left: 5px;
    margin: 5px;
    box-shadow: 1px 1px 20px -2px #C4BFBF;
    width: 300px;
    height: 50px;
}

.arama button {
    border: none;
    background: #B1DCEC;
    border-radius: 15px;
    margin: auto;
    box-shadow: 1px 1px 10px 0px #C4BFBF;
}

#bolumlerin-iconlari {
 
    margin: 10% auto;
    width: 70%;
}

    #bolumlerin-iconlari img {
        width: 50%;
    }

    #bolumlerin-iconlari ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        width: 90%;
        margin: 3% auto;
        justify-content: space-between;
    }

        #bolumlerin-iconlari ul li {
            margin: 2% 1%;
            width: 15%;
            text-decoration:none;
        }

            #bolumlerin-iconlari ul li p {
                margin-top: 0;
                font-size: 70%;
            }

                #bolumlerin-iconlari ul li p:hover {
                    text-decoration: underline;
                }

#calisan-ogrenciler img {
    width: 70%;
    margin: 15% auto;
}

/*ANASAYFA----SON*/

/*DERS VER POPUP */

.modal-header{
    display:block;


}
.content {
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    margin: 3% auto;
}
.modal-body div ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0;
}
@media only screen and (min-width:750px) { /*tabletler vb için */
    .dersal-ver button:hover {
        background-color: #F7FBFC;
        color: #769FCD;
    }
    #header-bg {
        background-size: cover;
        opacity: 0.8;
        transition: 2s;
        background-position: 10% 0%;
    }

}
/*İLAN SAYFASİ*/

/* haftanın öğrencileri profil resimlerinin üzerine gelince verdiği dersler ve yıldız puan görülecek */
#haftanin-ogrencileri {
    vertical-align: middle;
   
    height: 400px;
    background-color: white;
    margin-top: 70px;
    padding: 2%;
}

    #haftanin-ogrencileri span {
        font-size: 2rem;
        margin-bottom: 5px;
        font-family: "Segoe UI Emoji";
    }

#haftanin-ogrencileri-profilleri img {
    width: 30%;
}

#haftanin-ogrencileri-profilleri ul {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 3% auto;
}

.ilan-title {
    width: 100%;
    background-color: #A2D2FF ;
    opacity:0.9;
    height: 40px;
}

    .ilan-title a {
        float: left;
        margin: 0% 3%;
        font-size: 1.3em;
        font-family: INITIAL;
    }

#ilanlar {
    width: 100%;
    height: 1000px; /*değişecek*/
    padding-top: 80px;
}

    #ilanlar .arama input {
        width: 30%;
        margin: 0;
    }

#filtre-uygula-temizle {
    align-self: flex-end;
}
#filtre-uygula-temizle button {
    color: white;
    background-color: #E19F49;
    border-radius: 5px;
}
#filtre-uygula-temizle button:hover {
        color: #E19F49;
        background-color: white;
        border: 1px solid #E19F49;
    }
    #filtre nav {
    margin-top: 5%;
    text-align: left;
}
#filtre {
    margin: 5% auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.75px solid gray;
}
#filtre a:hover {
    color: #6b6b6b;
}
#filtre-ilan {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-content: space-between;

    justify-content: space-around;
}
.filtre-fiyat {
 
    color: #9B9B9B;
    width: 40%;
    /* height: 20px; */
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

#filtreler {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.75px solid gray;
}


/*ilanların geleceği büyük bölüm altalta gelsin diye flex column*/
#ilanlar-kapsayici {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
    /*tek bir ilanın kapsayıcısı yanyana gelsin*/
    #ilanlar-kapsayici #ilan-icerik {
        display: flex;
        flex-direction: row;
        background-color: white;
        height: 100px;
        /* border-color: #C7C7C7; */
        border-bottom: 1px solid #C7C7C7;
        /* border-width: 1px; */
        margin: 5px;
        height: inherit;
        /* padding-bottom: 2%; */
        /* border-style: solid; */
        width: 100% !important;
        float: right;
    }

/*div kapsayıcıları*/
#ilan-bilgileri {
    width: 85% !important;
    height: 100%;
}

#ilan-icerik #profil-pp {
    width: 12%;
    height: 100%;
}

#ilan-icerik #konum {
    font-size: 11px;
    display: flex;
    height: 25%;
    width: 100%;
    flex-direction: row;
    float: right;
    align-self: flex-end;
}

/*div içerikleri*/
#ilan {
    width: 100%;
    height: 50%;
    display: flex;
    padding-top: 30px !important;
    flex-direction: row;
    text-align: left;
}

    #ilan span {
        float: left;
        font-size: 19px;
    }

    .teklif-buton {
       width: 100px;
       font-size: 15px;
       text-align: center;
       height: 60%;
       background-color: #E19F49;
       color: white;
       width:20%;
       background: #E19F49;
       color: white;
       
       height: 30px;
       border-radius: 5px;
       border-style: solid;
       border-width: 1px;

    }
    .teklif-buton:hover{
        color: olive;
    }
/*
    #ilan button {
        margin: 10px 10px auto 10%;
        background: #E19F49;
        color: white;
        width: 60%;
        height: 30px;
        border-radius: 15px;
        border-style: solid;
        border-width: 1px;
    }
*/
#profil-pp img {
    float: left;
    margin: 20%;
    width: 60%;
}

#ilanlar-kapsayici #konum img {
    float: left;
    width: 15px;
    height: 17px;
    margin-right: 5px;
}


/*İLAN SAYFASİ SON*/


/*SEÇİLEN İLANIN SAYFASI*/
#hemen-ilan-ver img {
    width: 80%;
    height: 300px;
    margin-top: 100px;
}

#secilen-ilan-ders-al {
    margin: 3% 10%;
    float: right;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    background-color: #6EA8BB;
    border-radius: 20px;
    border: none;
    width: 25%;
    height: 40px;
}

    #hemen-ilan-ver a:hover {
        transition: 0.5s;
        box-shadow: 1px 1px 10px 3px #ACD8CE;
    }

#secilen-ilan {
    width: 100%;
}

#ana-ilan {
    /*#FFF9F5;
	*/ display: flex;
    flex-direction: column;
    width: 98.95%;
    height: 200px;
    background-color: white;
    border: 5px solid #FFF9F5;
    margin-top: 200px;
    padding: 2px;
}

#teklifler {
    background-color: #FFF9F5;
    width: 100%;
    padding-top: 50px;
    height: 800px;
}

#teklif {
    width: 70%;
    height: 150px;
    background-color: white;
    border-bottom: 1px solid #ABABAB;
}

#ana-ilan-satir-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
}

#ana-ilan-satir-2 {
    width: 95%;
    height: 30%;

    padding-top: 2px;
}

#ana-ilan-satir-1 #satir-1-sutun-1 {
    width: 25%;
}

#ana-ilan-satir-1 #satir-1-sutun-2 {
    width: 20%;
    text-align: left;
    padding: 7% 2%;
}

#satir-1-sutun-2 a {
    font-size: 1.2rem;
}

#ana-ilan-satir-1 #satir-1-sutun-3 {
    width: 55%;
    text-align: left;
    padding: 4% 2%;
}
/*
 #teklif #satir-1-sutun-3 input, .benzer-ilan input, #p-ilan input {
    background: #E19F49;
    color: white;
    width: 15%;
    height: 50%;
    margin-right: 5%;
    border-radius: 15px;
    border-style: solid;
    float: right;
    border-width: 1px;
}*/

#teklif {
    text-align: left;
    display: flex;
    flex-direction: row;
}

    #teklif #satir-1-sutun-1 {
        width: 20%;
    }

    #teklif #satir-1-sutun-2 {
        width: 60%;
        padding-top: 40px;
        padding-left: 5%;
        line-height: 30px;
    }

    #teklif #satir-1-sutun-3 {
        width: 20%;
        padding-top: 20px;
    }

#buna-benzer-ilan {
    padding: 0px 5%;
    display: flex;
    flex-direction: row;
    background-color: #FFF9F5;
    width: 90%;
    height: 280px;
    justify-content: space-between;
    align-items: center;
}

.benzer-ilan {
    margin: 1% 2%;
    width: 18%;
    height: 90%;
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    padding: 2%;
}
#benzer-ilan{height:300px;}


/*SEÇİLEN İLANIN SAYFASI SON*/
/*KULLANICI PROFİL SAYFASI*/

#profil {
    width: 90%;
    min-height:800px;
    background-color: white;
    margin-bottom: 20%;
}

#kullanici-bilgileri {

    border-bottom: 1px solid #ABABAB;
    background-color: white;
    padding: 70px 2%;
}

#kb-satir-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
}

#kullanici-bilgileri #satir-1-sutun-1 {
    width: 20%;
}

#kullanici-bilgileri #satir-1-sutun-2 {
    width: 70%;
    text-align: left;
    padding-top: 40px;
    padding-left: 3%;
}

#kullanici-bilgileri #satir-1-sutun-3 {
    width: 10%;
    text-align: right;
    padding-right: 5%;
    padding: top 5%;
}

#profil-alt {
    display: flex;
    flex-direction: column;
}

#yan-bilgi {
    line-height: 1.5;
    text-align: left;
    border-bottom: 1px solid #ABABAB;
    width: 100%;
    padding: 5%;
}

#profil-ilanlari {
    width: 100%;
    padding-top: 10%;
}

#p-ilan {
    background-color: ghostwhite;
    width: 100%;
    padding-top: 1%;
    min-height: 130px;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
}

    #p-ilan #satir-1-sutun-2 {
        width: 80%;
        padding-top: 3%;
    }

    #p-ilan #satir-1-sutun-1 {
        width: 20%;
    }

#p-degerlendirme {
    border-top: 1px solid #ABABAB;
    text-align: left;
    width: 90%;
    height: auto;
    padding: 10% 0 10% 5%;
}

#p-yorumlar {
    display: flex;
    flex-direction: column;
}

    #p-yorumlar nav {
        height: 50px;
        padding-top: 3%;
        background-color: #FCFAF6;
        width: 80%;
    }

    #p-yorumlar img {
        width: 10%;
        height: 20px;
        float: right;
        margin: 0 5%;
    }
/*KULLANICI PROFİL SAYFASI SON*/











/*KURUMSAL BİLGİLENDİRME SAYFALARI */
#kurumsal {
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 0px;
    margin: 0px;
    margin-top: 150px !important;
}

.sol-menu {
    text-decoration: none;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    width: 50%;
    float: left;
}

.sol-menu-icerik {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
}

    .sol-menu-icerik ul {
        padding: 0px;
    }

    .sol-menu-icerik li {
        border: 1px solid #dedede;
        width: 70%;
        font-size: 16px;
        padding: 20px 30px;
        background: #fcfcfc;
        border-bottom: 1px solid #e2e2e2;
    }

    .sol-menu-icerik a {
        color: #424242;
    }

    .sol-menu-icerik li.aktif {
        font-weight: 700;
        background: #f5f6f6;
    }

    .sol-menu-icerik a.aktif {
        color: #4183c4;
    }

    .sol-menu-icerik a:hover {
        color: #89aad8;
    }

.sol-menu-footer img {
    width: 40%;
    margin-right: 8%;
}

.sol-menu-footer {
    font-size: 12px;
}

.sag-yazi {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    width: 70%;
    height: auto;
}

.sag-yazi-icerik {
    padding: 10% 5%;
    border-bottom: 1px solid #e4e4e4;
    line-height: 1.4;
}

.cont {
    max-height: 500px;
    overflow-y: scroll;
    padding-right: 10px;
    font-weight: 100;
}

#topluluk {
    line-height: 2.5;
    font-size: 14px;
    font-family: 'PT Sans','Open Sans',Helvetica,Arial,sans-serif;
}

    #topluluk ul li {
        list-style: disc;
    }








/*KURUMSAL BİLGİLENDİRME SAYFALARI SON*/


/*ekran büyüdüğü  zaman içerik ortada kalırken banner ve footer uzun kalmaması*/
@media screen and (min-width:1350px) { /*1350 ve üzeri için*/
    .banner, .footer, .container {
        width: 1349px;
    }
    /*footer container ve bannerı 1349 da sabitliyoruz ki sayfanın ortasında ve bütün halde dursun,
		body, footer ve banner background 100% olduğu için sayfanın tümünü kaplar.
	*/
    #header-bg {
        width: 1349px;
    }

    .kayitolgirisyap {
        width: 50%
    }

    .dersal-ver {
        margin-left: 550px;
    }
}
