<nav class="sol-menu-icerik">
    <ul>
        <li><b style="font-size: 18px;   font-weight:600;">KURUMSAL</b></li>
        <a asp-controller="Kurumsal" asp-action="Hakkimizda">
        <li>Hakkımızda</li></a>
        <a asp-controller="Kurumsal" asp-action="KullaniciSozlesmesi">
        <li>Kullanıcı Sözleşmesi</li></a>
        <a asp-controller="Kurumsal" asp-action="GizlilikPolitikasi">
        <li>Gizlilik Politikası</li></a>
        <a asp-controller="Kurumsal" asp-action="ToplulukKurallari">
        <li>Topluluk Kuralları</li></a>
        <a asp-controller="Kurumsal" asp-action="Iletisim">
        <li>İletişim</li></a>

    </ul>


</nav> <nav class="sol-menu-footer">

    <img src="/image/logo.png" alt="">
    Copyright © 2020
</nav>
