<center>
    <nav id="kurumsal">
        <div class="sol-menu">
            @Html.Partial("_Kurumsal")
        

        </div>

        <div class="sag-yazi">
            <nav class="sag-yazi-icerik">
                <p> Bi'anlasam Öğrencilere Özel Platform</p>
                <p>
                    Anlaşılmayan her konuyu bilen bir öğrenci ve onun notları vardır. Bilgilerinizi, öğrendiklerinizi paylaşarak çoğaltacağınız, ders verdikçe para kazanacağınız site yaptık.
                </p>
                <p>İstediğiniz yerde çalışın, hem sosyalleşin hem öğrenin diye sizi alanınıza meraklı başka öğrenciler ile buluşturuyoruz. Siz yeter ki çalışın.</p>


                <p>Siz de Bi'anlasam öğrencisi olun, istediğiniz ilanlara teklif verin, anlamadığınız her konu için ilan verin, puan kazanarak güvenilirliğinizi arttırın..</p>

            </nav>
        </div>
    </nav>


</center>


