    <center>

<nav id="kurumsal">
    <div class="sol-menu">

        @Html.Partial("_Kurumsal")


    </div>

    <div class="sag-yazi">
        <div class="sag-yazi-icerik">

            <i style="font-size: 15px;">
                Görüş, öneri, şikayet için bizimle iletişime geçin.
                <p>E-mail:  bianlasam@info.com</p>
            </i>
        </div>
    </div>


</nav>


    </center>



