<center>
    <nav id="kurumsal">
        <div class="sol-menu">

            @Html.Partial("_Kurumsal")



        </div>

        <div class="sag-yazi">
            <nav class="sag-yazi-icerik">

                <nav id="topluluk">
                    <h2>BİANLASAM.COM TOPLULUK KURALLARI</h2>
                    <ul>&nbsp;&nbsp;&nbsp;&nbsp;<li><span>Kullanıcıların birbirlerine karşı saygılı olması zorunludur.</span></li><li><span>Üyelerin birbirlerine yaptığı ırkçı, cinsiyetçi, homofobik ve küfürlü yorumlara müsamaha gösterilmeyecektir. Böyle durumda yorumlara müdahale edilecektir.</span></li><li><span>Kullanıcılar tarafından gelen, insanların dini inancına, ırkına, etnik kökenine, yaşına, sosyal durumuna, siyasi görüşüne, cinsel yönelimine, fiziksel durumuna göre kişilere veya belirli gruplara karşı nefrete teşvik edici, şiddet içeren, provokatif, aşağılayıcı içerik ve yorumları yayınlamama hakkını Bi'anlasam saklı tutmaktadır.</span></li><li><span>Üyelik Sözleşmesini ihlal ederek diğer kullanıcıların kişisel bilgilerini ifşa eden, bu bilgileri kendi çıkarları için kullanan; tehdit, taciz gibi unsurları kullanarak, rahatsız edici bir biçimde diğer kullanıcıları sürekli takip eden ve insanları şiddete yönlendirmek adına başkalarını kışkırtan davranışlarda bulunan kullanıcıların hesapları kapatılacaktır.</span></li><li><span>Birey, kurum, kültür veya toplumları küçük düşürücü, küfür, aşağılama&nbsp;veya&nbsp;argo ifadelere izin verilmemektedir. Bu tür yorumların silinmesi, gerekli kişilere uyarı gönderilmesi ve/veya üyeliklerinin silinmesi hakkını Bi'anlasam saklı tutmaktadır.</span></li><li><span>Daha sağlıklı bir tartışma ortamının olması için yapılan yorumlarda üyelerin, diğer kullanıcıların inançlarına ve görüşlerine saygı göstermeleri zorunludur.</span></li><li><span>Yorumlarda büyük harf kullanılmamalıdır.</span></li><li><span>Site içerisindeki yorumlar Türkçe olmalıdır.</span></li><li><span>Yapılan yorumlarda mümkün olduğu kadar yazım ve imla bilgisine önem verilmelidir. Bu nedenle anlaşılmayan yorumlarda, düzeltme ve silme hakkını Bi'anlasam saklı tutmaktadır.</span></li><li><span>Herhangi bir ticari amaç ya da telif hakkı içeren yorumlara izin verilmeyecektir.</span></li><li><span>İnsanları kışkırtan, saldırgan bir kullanıcı adı seçilemez.</span></li><li><span>İçeriğin konusunda sapmayarak yapılan yorumlar olası tartışmaların engellenmesine yardımcı olacaktır. Aksi takdirde yorumlarınız Bi'anlasam’nun takdirine bağlı olarak silinebilir.</span></li><li><span>Üyelerin kendi güvenlikleri açısından kişisel ve özel bilgilerini paylaşmaması gerekmektedir.</span></li><li><span>Bi'anlasam veya moderatör kararı hakkında yapılan saldırgan yorumların silinme olasılığı vardır.</span></li><li><span>Bi'anlasam çalışanlarına, hakaret ve küfür içeren özel mesaj atan kullanıcıların hesaplarını silme hakkını Bi'anlasam saklı tutmaktadır.</span></li><li><span>Spam mesajlar göndermek yasaktır. Aynı ve benzer mesajlar birden fazla kere gönderildiğinde de müdahale edilecektir.</span></li><li><span>Yargı mercilerine saygısızlık&nbsp;içeren veya içerme ihtimali olan yorumlara müsamaha gösterilmez. Yürümekte olan veya ileride başlayacak olan yargılama sürecini etkileyecek her şey bu kapsamdadır.</span></li></ul>
                </nav>
            </nav>
        </div>
    </nav>

</center>

