
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-tittle">İLAN OLUŞTUR</h4>

                <form action="/" method="post">
                    <div class="modal-body">
                        <div class="content">
                            <ul>
                                <li>
                                    <input type="text" placeholder="Ders">
                                </li>
                                <li>
                                    <input type="text" placeholder="Konu">
                                </li>
                            </ul>
                            <ul>
                                <li>


                                </li>
                                <li>
                                    <select class="form-control" id="ilce" name="ilce" autocomplete="off">
                                        <option value="0">İlçe Seçiniz</option>
                                    </select>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <input type="text" placeholder="Min">&nbsp; - &nbsp;
                                </li>
                                <li>
                                    <input type="text" placeholder="Max">
                                </li>
                            </ul>
                            <section><textarea name="aciklama" id="" cols="50" rows="5" placeholder="Açıklama"></textarea></section>
                            <ul>
                                <li>
                                    <button type="submit">Yayınla</button>
                                </li>
                            </ul>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
