@using Microsoft.AspNetCore.Identity;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;



    <div style="height:40%;">
        <ul class="navbar-nav">
            @if (HttpContextAccessor.HttpContext.Session.GetInt32("id") != null)
            {
                <li class="nav-item">
                    <a style="height:60%;" class="nav-link text-dark" title="Manage"> @HttpContextAccessor.HttpContext.Session.GetString("KullaniciAdi") </a>
                </li>
                <li class="nav-item">
                    <ul>
                        <a  style="height:60%;" class="btn btn-primary" asp-area="" asp-controller="KayitGiris" asp-action="CikisYap">Çıkış Yap</a>
                    </ul>
                </li>
            }
            else
            {
                <ul style="display:flex; ">
                    <li style="margin: 1%;">
                        <a style="height:60%;" class="btn btn-primary" asp-area="" asp-controller="KayitGiris" asp-action="KayitOl">Kayıt Ol</a>

                    </li>
                    <li style="margin: 1%;"> 
                    <a style="height:60%;" class="btn btn-primary" asp-area="" asp-controller="KayitGiris" asp-action="GirisYap"> Giriş Yap </a></li>
                </ul>

            }
        </ul>
    </div>
